body {
  background: #58d0e8;
}
.container div div {
  text-align: center;
}
ul {
  list-style-type: none;
}
li {
  padding: 5px;
  margin: 5px;
  /*background: #faebd7;*/
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: red;
}

.form-group {
  margin-bottom: 5px;
}
